<ion-view view-title="项目经历">
	<ion-content>
		<div class="project-info">
			<div class="project-cont" ng-repeat="project in Projects">
				<div class="form-list first-border">
					<label class="fl">项目名称</label>
					<input type="text" class="fl input-txt" required maxlength="30" ng-model="project.ProjectName"/>
				</div>
				<div class="form-list">
					<label class="fl">职位名称</label>
					<input type="text" class="fl input-txt" required maxlength="15" ng-model="project.positionName"/>
				</div>
				<div class="job-content">
					<label>工作内容</label>
					<textarea rows="3" maxlength="300" class="txtarea" ng-model="project.ProjectIntroduction" required></textarea>
					<span class="txtarea-number">
						<span id="inputNum" >{{project.ProjectIntroduction.length>=1?project.ProjectIntroduction.length:0}}</span>/300
					</span>
				</div>
			</div>
			<div class="project-experience">
				<div class="project-addBtn" ng-click='addProject()'>
					+
				</div>
				添加项目经验
			</div>
			<div class="step-btn">
				<div class="a-btn last-step fl margin20" ng-click="goT03()">上一步</div>
				<div class="a-btn next-step fl margin20" ng-click="goT05()">下一步</div>
				<div class="clear"></div>
			</div>
		</div>
	</ion-content>
</ion-view>